NODE_ENV=production

SERVER_PORT=3000
ADMIN_TOKEN=

ACCOUNTS_FILE=./accounts.enc
ACCOUNTS_FILE_ENCRYPTED=1
ACCOUNTS_MASTER_KEY=

TRADE_CHAIN=base
BASE_RPC_URL=

DAILY_MAX_COST_USD=0.2
NATIVE_USD_PRICE=3000
MAX_FEE_RATE=0.003
MAX_SLIPPAGE_BPS=50

SWAP_INTENT_TEMPLATE=swap {amount} USDC to WETH
SWAP_AMOUNT_USD=10
SWAP_PER_ACCOUNT_PER_DAY=1

GLOBAL_CONCURRENCY=3
JITTER_MAX_MS=3600000
CIRCUIT_BREAKER_BASE_MS=300000
CIRCUIT_BREAKER_MAX_MS=1800000

